@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700';

// * {
// 	outline: 1px solid gainsboro;
// }

html {
	scroll-behavior: smooth;
}
::selection {
	background-color: var(--accent);
	color: var(--bg);
}
body {
	--bg: rgb(250, 255, 248);
	--bg-accent: #ffd6c0;
	--color: rgb(0, 30, 9);
	--color-dimmed: rgb(0, 61, 18);

	--accent: #dc4d00;
	--accent-hover: #ff7023;
	--transition: background-color 0.15s ease-in-out;

	--font-sans: 'Source Sans Pro', sans-serif;
	--font-mono: 'Source Code Pro', monospace;
}

body.dark-mode {
	-webkit-font-smoothing: antialiased;
	--bg: rgb(30, 23, 47);
	--bg-accent: rgb(60, 46, 94);

	--color: #d7eee8;
	--color-dimmed: #ade9db;

	--accent: #5ef0ce;
	--accent-hover: #e0fcf6;
	--transition: background-color 0.15s ease-in-out;
}
body {
	background-color: var(--bg);
	color: var(--color);
	transition: var(--transition);
	font-family: var(--font-mono);
	font-size: 0.8rem;
	overflow-x: hidden;
}
p,
.p {
	font-family: var(--font-sans);
	line-height: 1.8;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 1rem;
	position: relative;
	&::first-letter {
		margin-left: 1.2rem;
	}
	&::after {
		content: '';
		background-color: var(--color-dimmed);
		display: block;
		height: 1px;
		width: 1rem;
		position: absolute;
		top: 0.9rem;
	}
}

a {
	color: var(--accent);
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration-line: underline;
		color: var(--accent-hover);
		text-decoration-style: wavy;
		text-decoration-thickness: 1px;
	}
}

// focus-visible
* {
	scroll-margin: 3rem;
	&:focus,
	&:focus-visible {
		outline: 3px solid var(--accent);
		outline-offset: 3px;
	}
}
.snap-container {
	scroll-behavior: smooth;
	max-width: 1800px;
	margin: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

@media screen and (min-width: 768px) {
	.snap-container {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}
@media screen and (min-width: 1050px) {
	.snap-container {
		padding-left: 18rem;
		padding-right: 6rem;
	}
}
.font-s {
	font-size: 0.9rem;
}
.font-m {
	font-size: 1rem;
}
.font-l {
	font-size: 1.25rem;
}
.font-xl {
	font-size: 1.75rem;
}
.font-xxl {
	font-size: 3rem;
}
.font-xxxl {
	font-size: 3.5rem;
}
.text-shadow {
	text-shadow: 3px 3px 0 #ffe8db;
}
.dark-mode .text-shadow {
	text-shadow: 3px 3px 0 rgb(100, 85, 134);
}
.dash {
	max-width: 30ch;
}
.dash::after {
	content: '';
	letter-spacing: -10px;
	height: 1px;
	width: 1ch;
	display: inline-block;
	background: var(--color);
	animation: blink 1s infinite step-end;
}
.spacing-block {
	margin-bottom: 2rem;
	margin-top: 5rem;
}
.padding-inline {
	padding-inline: 2.5rem;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.font-light {
	font-weight: 200;
}
.dimmed {
	color: var(--color-dimmed);
}
.lh-1 {
	line-height: 1;
}
.border {
	border: 1px solid var(--bg-accent);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
	padding: 1rem;
	background-color: var(--bg-accent);
	color: var(--color);
	border-radius: 0.5rem;
	margin-block: 1.5rem;
	font-size: 0.8rem;
	transition: var(--transition);

	li {
		list-style: circle;
		margin-left: 1.5ch;
		margin-block: 0.1rem;
	}
}
