.wrapper {
	.form {
		margin: 1rem auto;
		position: relative;
		font-size: 1.5rem;
		color: var(--color);
		width: 100%;
		max-width: 600px;
		transition: var(--transition);
	}
	.button {
		margin: 1rem auto;
		position: relative;
		font-size: 1.5rem;
		display: flex;
	}

	& label {
		transition: var(--transition);
		position: absolute;
		top: -1rem;
		right: 1rem;
		z-index: 10;
		background-color: var(--bg);
		font-size: 1.2rem;
		color: var(--color);
		padding-left: 1ch;
		padding-right: 0.6ch;
	}
	& input,
	& textarea {
		transition: var(--transition);
		color: var(--color);
		width: 100%;
		max-width: 100%;
		padding: 0.5rem 1.2rem;
		background-color: var(--bg);
		border: 1px solid var(--color);
		border-radius: 5px;
	}
	& textarea {
		height: 15rem;
		resize: none;
	}
	& input,
	& textarea {
		&:focus {
			border: 1px solid var(--accent);
			outline: 3px solid var(--accent);
		}
	}

	input:-webkit-autofill,
	input:-webkit-autofill:focus {
		transition: background-color 600000s 0s, color 600000s 0s;
	}
	button {
		background-color: var(--accent);
		color: var(--bg);
		border: none;
		padding: 0.5rem 1.2rem;
		border-radius: 5px;
		font-size: 1.2rem;
		margin: auto;

		cursor: pointer;
		&:hover {
			background-color: var(--accent-hover);
		}
	}
}
